<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>eShop</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <div class="head-line">
            <img src="img/logo.jpg" class="logo"></img>
            <div class=right-header>
              <input type="text" v-model="searchLine" class="goods-search" />
              <img src="img/search.svg" @click="FilterGoods()" class="search-button">
              <button class="cart-button" @click="isVisibleCart=!isVisibleCart" type="button">Корзина</button>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="goods-list" v-show="!isVisibleCart">
            <div class="nothing-found" v-if="filteredGoods.length == 0">Ничего не найдено</div>
            <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
              <h3>{{ good.product_name }}</h3>
              <img :src="productImg">
              <p>{{ good.price }}<span class="rub">&#8399;</span></p>
              <button @click="addProduct(good)" type="button" class="cart-button">Купить</button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
